
.login-form{
 padding-top: 20%;
 padding-left: 40%;
 border-color: cornflowerblue;
}.username,.password{
width: 250px;
height: 35px;
text-align: left;

background: transparent;
border-width: 1px;
border-style: double;
border-radius: 10px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style:bold;
}
.SubmitButton{
width: 100px;
  height: 33px;
  color: black;
  background-color: mediumspringgreen;
  align-self: right;
  text-decoration-color: accent;
  background-color: primary;
  border-radius: 10px;
  border-style: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style:bold;
}
.just_space{
    height: 10px;
    width: 10%;
}